.autosuggest-menu {
	position: relative;
	z-index: 110;
}

.autosuggest-menu__list {
	.body & {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		padding: 0;
		left: auto;
		top: auto;
		margin-top: -3px;
		display: block;
		overflow-y: auto;
		line-height: 35px;
		border: 1px solid #ccc;
		position: absolute;
		width: 100%;
		z-index: 5;
		background: white;
		box-sizing: border-box;
		cursor: default;
		max-height: 500px;
	}
}

.body .autosuggest-menu__item {
	padding-left: 10px;
	background-color: $autosuggest-item-bg;
	line-height: 24px;
	font-size: 16px;

	cursor: pointer;
	&:hover,
	&:focus,
	&--highlighted {
		background-color: $autosuggest-item-hover-bg;
		color: #fff;
	}
}

.body .hawk-sqItemImage-thumb {
	width: 100px;
	height: 100px;
}

.autosuggest-menu__text--deleted {
	color: $red;

	.autosuggest-menu__item:hover &,
	.autosuggest-menu__item:focus & {
		color: #fff;
	}
}

.autosuggest-menu__text--archived {
	color: $orange;
	.autosuggest-menu__item:hover &,
	.autosuggest-menu__item:focus & {
		color: #fff;
	}
}
.hawk__searchBox {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 100%;
	 padding: 0.25rem;
//   padding: 10px;
//   background-color: #f5f5f5;
//   border-radius: 25px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .search-container {
	display: flex;
	align-items: center;
	width: 100%;
	// max-width: 700px;
  }
  
  .search-input-wrapper {
	display: flex;
	flex-grow: 1;
	align-items: center;
	background-color: #ffffff;
	border-radius: 25px;
	padding: 0.35rem;
	border: 2px solid #ddd;
  }
  

	// .hawk__searchBox__searchInput{
	// 	width: 90%;
	// 	height: 46px;
	// 	// padding: 4px 30px 4px 30px;
	// 	flex-grow: 1;
	// 	font-size: 0.933em;
	// 	background: none;
	// 	border: none;
	// 	outline: none;
	// 	// box-sizing: border-box;
	// 	color: white;
	// 	font-family: 'Montserrat', sans-serif;
	// 	font-weight: 500;
	// }
	.toggle-button {
		background: none;
		border: none;
		color: #666;
		font-size: 0.85em;
		font-family: 'Montserrat', sans-serif;
		margin-left: 10px;
		cursor: pointer;
		display: flex;
    	border-left: 2px solid #acafb2;
    	height: 100%;
		&:focus{
			outline: none;
		}
	}
	  
		
	.image-button{
		color: white;
		background-color: white;
		margin-left: 10px;
		padding: 0.5rem 1.5rem;
		border-radius: 4px;
		cursor: pointer;
		font-size: .05rem;
		border: none;
		margin-bottom: 0.5rem;
		&:focus{
			outline: none;
		}
		// .camera-icon{
		// 	width: 24px;
		// 	height: 24px;
		// }
	}
	.autosuggest-menu {
		h3 {
			font-size: 20px;
			font-weight: bold;
			margin-top: 20px;
			margin-bottom: 5px;
		}
		.loading-label {
			width: 100%;
		}
		& > ul {
			display: flex;
			flex-direction: row;
			padding: 15px;
			flex-wrap: wrap;
			& > ul {
				width: 66%;
				padding: 0;
				list-style: none;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: flex-start;
				align-content: flex-start;
				h3 {
					width: 100%;
				}
				li {
					display: flex;
					flex-direction: column;
					width: calc(33% - 20px);
					padding: 0;
					margin: 10px;
					justify-content: center;
					text-align: center;
					align-items: center;
					align-content: center;
					padding: 10px;
					&:hover {
						background: transparent !important;
						color: #212529;
					}
					&.autosuggest-menu__item--highlighted {
						background: transparent !important;
						color: #212529;
						&:hover {
							background: transparent !important;
							color: #212529;
						}
					}
					.p-name {
						font-size: 12px;
						line-height: 15px;
						margin-top: 5px;
						width: 100%;
					}
				}
				& > .view-matches {
					width: 100%;
					text-align: center;
					color: #007bff;
					cursor: pointer;
				}
			}
			& > div {
				width: 34%;
				padding-left: 15px;
			}
		}
	}
}
.hidden-label {
	display: none;
}

/*********************************************************/

/*.hawk-autosuggest-menu {
	position: relative;
}

.hawk-autosuggest-menu__list {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
	left: auto;
	top: auto;
	margin-top: -3px;
	display: block;
	overflow-y: scroll;
	line-height: 35px;
	border: 1px solid #ccc;
	position: absolute;
	width: 100%;
	z-index: 2;
	background: white;
	box-sizing: border-box;
	cursor: default;
}

.hawk-autosuggest-menu__item {
	padding-left: 10px;
	background-color: $autosuggest-item-bg;
	cursor: pointer;

	&:hover,
	&:focus,
	&--highlighted {
		background-color: $autosuggest-item-hover-bg;
		color: #fff;
	}
}

.hawk-autosuggest-menu__text--deleted {
	color: $red;

	.hawk-autosuggest-menu__item:hover &,
	.hawk-autosuggest-menu__item:focus & {
		color: #fff;
	}
}

.hawk-autosuggest-menu__text--archived {
	color: $orange;

	.autosuggest-menu__item:hover &,
	.autosuggest-menu__item:focus & {
		color: #fff;
	}
}

.hidden-label {
	display: none;
}*/

/*********************************************************/

