.hawk-results {
	flex-grow: 1;
}

.hawk-results__item {
	margin: 0;
	width: calc(25% - 1rem);;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
    border-radius: 0.5rem;
	// text-align: center;
	transition: transform 0.2s;
	// margin: 2rem;

	@include md {
		max-width: calc(25% - 1rem);
		width: 50%;
	}

	@include lg {
		max-width: calc(25% - 1rem);
		width: 25%;
	}
}

.hawk-results__item-image {
	// padding: 10px;

	img {
		padding: 1rem;
		display: block;
		margin: auto;
		width: 100%;
		height: 175px;
		object-fit: contain;
	}
}

.hawk-results__item-name {
	width: 75%;
	margin: 10px auto 0px auto;
	text-align: center;
	font-size: 1.1rem;
}

.hawk-results__item-price{
	width: 75%;
	margin: 10px auto 0px auto;
	text-align: center;
	font-size: 1em;
	padding: 1rem;
}

.hawk-results__listing {
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	gap: 1rem;
	margin: 1.25rem;
	justify-content: center;
}

.hawk-results__top-tool-row {
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;

	@include md {
		margin-top: 0;
	}
}

.hawk-results__bottom-tool-row {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #ccc;

	@include md {
		padding-top: 0;
	}
}
