.hawk-results {
	flex-grow: 1;
}

.hawk-results__item {
	margin: 0 0 2em;
	width: 100%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
    border-radius: 10px;
	padding: 15px;
    margin: 15px;
	text-align: center;
	transition: transform 0.2s;

	@include md {
		max-width: 300px;
		width: 50%;
	}

	@include lg {
		width: 25%;
	}
}

.hawk-results__item-image {
	padding: 10px;

	img {
		display: block;
		margin: auto;
		width: 100%;
		height: 175px;
		border-radius: 5px;
	}
}

.hawk-results__item-name {
	width: 75%;
	margin: 10px auto 0px auto;
	text-align: center;
	font-size: 1.1rem;
}

.hawk-results__item-price{
	width: 75%;
	margin: 10px auto 0px auto;
	text-align: center;
	font-size: 1em;
}

.hawk-results__listing {
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
}

.hawk-results__top-tool-row {
	margin-top: 2em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;

	@include md {
		margin-top: 0;
	}
}

.hawk-results__bottom-tool-row {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #ccc;

	@include md {
		padding-top: 0;
	}
}
